/* 

This sheet provides global styling to be used in other style sheets

*/
@import url('https://fonts.cdnfonts.com/css/pt-serif');
@import url('https://fonts.cdnfonts.com/css/pt-sans-2');

/* Global variables */
:root {
    --color-primary: #191919;
    --color-primary-light: #363636;
    --color-secondary: #500000;
    --color-secondary-light: #800000;
    --color-tertiary: white;
    --color-tertiary-dark: #dadada;
    --text-color-primary: var(--color-tertiary);
    --text-color-secondary: var(--color-tertiary-dark);
    --font-default: 'PT Sans Caption', sans-serif;
    --font-fallback: "Inter", sans-serif;
    --font-special: 'PT Serif', serif;
    --max-header-width: 84vw;
    --max-width: 72vw;
    --radius: 6px;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: var(--font-default), var(--font-fallback);
    color: var(--text-color-primary);
}


/* 
    For adding a sticky header and footer, check out this website: https://medium.com/@beyondborders/beginner-css-grid-sticky-navigation-scrolling-content-7c4de0a8d1dc
*/
body {
    min-height: 100vh;
    background-color: var(--color-primary);
    overflow: overlay;
    display: grid;
    grid-template-rows: 14vh 1fr;
}

body > * {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    all: unset;
}

h1 {
    height: clamp(8vh, 8vh, 5.5rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 2rem;
}

.default-link {
    color: var(--color-secondary);
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: var(--color-secondary);
}

.default-link:hover, .default-link:active {
    color: var(--color-secondary-light);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--color-secondary-light);
}


.default-link:visited {
    /* color: var(--color-secondary); */
    text-decoration: underline;
    text-decoration-thickness: 1px;
    /* text-decoration-color: var(--color-secondary); */
}